extends _layouts/base

include _modules/link/link

block content
  .container
    .mop-info
      h1 Fake MOP Start page
      p.
        Real content. 
        This tag uses a period to allow multiple lines in the editor, but
        they aren't rendered in the HTML.
        This is the third line in the editor.
      p
        | Another Jade paragraph. 
        | This one uses a pipe to render multiple lines. They also aren't rendered.
        | Like this third line.
      p(title="an attribute!") Here's a paragraph with a title attribute.
  code.version v2.0.0
